<main class="p-5">
	<div class="card p-5">
		<p>
			CSS for TEXT
			sdfksdklfjsl;jflsd;<br>jfl;sdfksdklfjsl\
			sdfklsdnfklsdkljsdkl;f;sdkf;ls
		</p>

		<pre>			three tabs before</pre>
	</div>

	<p> просунуті властивості для тексту</p>

	<button class="button btn-primary">Accent-color</button>

	<input type="checkbox">

	<span>spanspanspan</span>

	<nav>
		<div class="card">
			<div>sdmlasd</div>
		</div>
		<div class="card">
			<div>sjlfdjls jdflsdajgljf adlagshdfjkl;skdg l;askfld nal;skdl;lzsdmlasd</div>
		</div>
		<div class="card">
			<div>sjlfdjls jdflsdajgljf adlagsn,knkl;j io ioju kn,m.nm kjok n kljl; kljk;jkhkl .ljkl;k;kk;hdfjkl;skdg
				l;askfld nal;skdl;lzsdmlasd</div>
		</div>
	</nav>

	<h2>Словник сучасних та продвинутих CSS властивостей" для робити з стовпцями, фрагментами та прокруткою</h2>
	<p class="column">
		Нагадаємо, що на Дитячому Євробаченні-2023 Україну представить 9-річна Анастасія Димид з піснею «Квітка». У
		фіналі конкурсу дівчина виступить під номером 3.

		На відміну від «дорослого» конкурсу, на Дитячому Євробаченні дозволено голосувати за представника своєї країни.
		Де б ви не були: в Україні чи за кордоном, у будь-якій точці світу, починаючи з 21:00 цієї п’ятниці, 24
		листопада, <span>ви можете проголосувати за представницю України</span> — Анастасію Димид — онлайн через сайт
		JESC.TV.
		Голосування тимчасово припиняється перед початком шоу в неділю, 26 листопада. Згодом, коли всі 16 учасників
		конкурсу виконають свої пісні, голосування відкриється ще приблизно на 15 хвилин.
	</p>


</main>