<main class="p-5">
	<div class="card p-5">
		<p>
			CSS for TEXT
			sdfksdklfjsl;jflsd;<br>jfl;sdfksdklfjsl\
			sdfklsdnfklsdkljsdkl;f;sdkf;ls
		</p>

		<pre>			three tabs before</pre>
	</div>

	<p> просунуті властивості для тексту</p>

	<button class="button btn-primary">Accent-color</button>

	<input type="checkbox">

	<span>spanspanspan</span>

	<nav>
		<div class="card">
			<div>sdmlasd</div>
		</div>
		<div class="card">
			<div>sjlfdjls jdflsdajgljf adlagshdfjkl;skdg l;askfld nal;skdl;lzsdmlasd</div>
		</div>
		<div class="card">
			<div>sjlfdjls jdflsdajgljf adlagsn,knkl;j io ioju kn,m.nm kjok n kljl; kljk;jkhkl .ljkl;k;kk;hdfjkl;skdg
				l;askfld nal;skdl;lzsdmlasd</div>
		</div>
	</nav>



</main>