@import '/css/var.css';

@font-face {
	font-family: "Segment";
	src: url('/font/Segment-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Segment";
	src: url('/font/Segment-SemiBold.otf');
	font-weight: 600;
	font-style: normal;
}


@layer normalize main component style;

@keyframes fly {
	from {
		top: 0;
		left: 0;
		background-color: var(--color-primary);
	}
	25% {
		top: 500px;
		left: 500px;
		background-color: grey;
		width: 100px;
	}
	50% {
		top: 500px;
		left: 0;
		background-color: var(--color-primary);
	}
	to {
		top: 0;
		left: 0;
	}
}
	
body {
	font-family: roboto, Arial, Helvetica, sans-serif;
}


/* *++++++++++++++++++++* */
.page {
	background-color: var(--color-white);
	padding: 0 15px;
	display: flex;
	justify-content: center;
}

.page_content {
	max-width: var(--page_width);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
/* *++++++++++++++++++++* */

.header {
	padding: var(--space-large) 0;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;

	position: sticky;
	max-width: var(--page_width);
	width: 100%;
	top: 0;
	
	background-color: var(--color-white);

	z-index: 1;
}

.logo {
	display: flex;
	justify-content: center;
	width: 24px;
	height: 24px;
	font-size: 17px;
	background-color: var(--color-primary);
	color:var(--color-white);
	border-radius: calc(var(--border-radius) / 2);
	align-items: center;

}

:root {
	scroll-behavior: smooth;
}

.nav_link {
	color: var(--color-text);
	font-size: var(--font-size-d);
	text-decoration: none;
}

.nav_link:hover {
	color: var(--color-primary);
	text-decoration: underline;
}

.nav {
	display: flex;
}

.nav_inline {
	gap: var(--space-medium);
}

.nav_vertical {
	gap: var(--space-large);
	flex-direction: column;
}


.footer {
	padding: var(--space-large) 0;
	border-top: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}

.header_copyright {
	color: var(--color-text);
	font-size: 14px;
	margin-top: var(--space-large);
	display: block;
}

.footer_title {
	font-size: var(--font-size-l);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-large);
}

@layer main {
	.button {
	color: var(--color-white);
	text-align: center;
	text-decoration: none;
	background-color: var(--color-primary);
	border-radius: calc(var(--border-radius) / 3);
	display: inline-block;
	max-width: 248px;
	width: 100%;
	font-size: var(--font-size-d);
	padding: 10px 20px;
	
	
	display: inline-block;
	border-radius: var(--border-radius);
	font-size: var(--font-size-d);
	padding: var(--space-medium) var(--space-x-medium);
	text-decoration: none;

	transition-property: opacity, background-color;
	transition-duration: 1s;
	}

	.button:hover {
		background: #499efa;
	}
}



.link_list {
	padding: var(--space-large);
}

.link_title {
	display: block;
	color: var(--color-title);
	font-size: 24px;
	font-weight: var(--font-weight-title);
}

.link_list > *:not(:last-child) {
	margin-bottom: var(--space-x-medium);
}

.link_item {
	display: block;
	font-size: var(--font-size-d);
	font-weight: var(--font-weight-d);
	color: #007BFF;
	text-decoration: none;

	transition-property: color;
	transition-duration: 1s;
}

.link_item:hover {
	text-decoration: underline;
	color: var(--color-primary);
}


/* +++++------------------++++++++++++
template-3 */

.hero {
	/* font-family: "Segment"; */
	display: flex;
	gap: 36px;
	align-items: center;
	padding-bottom: var(--space-large);
	border-bottom: 1px solid var(--color-border);
}

.hero_content {
	gap: var(--space-large);
	user-select: none;
}

.hero_image {
	height: 500px;
	width: 500px;
	border-radius: var(--border-radius);
	
}

.hero_title {
	font-size: 50px;
	font-weight: var(--font-weight-title);
	color: var(--color-title);
	line-height: 130%;

}

.hero_text {
	font-size: var(--font-size-l) ;
	font-weight: var(--font-weight-d);
	color: var(--color-title);
	line-height: 1.7em;
}

.blog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-bottom: 1px solid var(--color-border);
	gap: var(--space-large);
}

@media all and (600px < width <= 800px) {
	.blog {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (width <= 600px) {
	.blog {
		grid-template-columns: 1fr;
	}
}

/* @media all and (not (max-width: 600px)) {
	.blog {
		background-color: red;
	}
} */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--font-size-d);
	margin: 0 26px;
	text-align: center;
	padding-bottom: 80px;
}

.card_title {
	color: var(--color-title);
	font-size: 32px;
	font-weight: var(--font-weight-title);
	line-height: 100%;

}

.card_text {
	font-size: var(--font-size-d);
	line-height: 150%;
	color: var(--color-text);
	font-weight: var(--font-weight-d);
}

.card_image {
	
	width: 140px;
	height: 140px;
	border-radius: 50%;
}


@layer component {
	.card_button {
		
		background-color: orange;
		color: var(--color-white);
		
		border-bottom: #6C757D;
		width: 120px;
		height: 36px;
		align-self: center;
		
	}
}


.form_button {
	background-color: var(--color-white);
	color: var(--color-text);
	width: 100%;
	max-width: 160px;
}

.form_button {
	background-color: var(--color-white);
}

.button:hover {
	opacity: 0.7;
	background-color: var(--color-text);
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	padding: var(--space-large);
	box-shadow: 0 4px 12px #000000;
}

.form_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-medium);
	font-weight: var(--font-weight-d);
	color: var(--color-white);

}

.form_title {
	font-size: 27px;
}

.form_info {
	font-size: var(--font-size-d);
}

.ex {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-left: 3ex;
}

.form_button {
	background-color: var(--color-white);
	color: var(--color-text);
}

/* абсолютне позиціювання++++++++++++++++ */

/* .hero_image {
	position: absolute;
	right: 50%;
}

.hero {
	position: relative;
} */

.hero_slider_icon {
	background-color: var(--color-primary);
	color: var(--color-white);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);

	position: absolute;

	top: calc(50% - 15px);

	transition-property: opacity;
	transition-duration: 1s;
}

.hero_slider_icon:hover {
	opacity: 0.5;
	cursor: pointer;
}

.hero_slider {
	position: relative;
	
}

.hero_slider_left {
	left: var(--space-medium);
}


.hero_slider_right {
	right: var(--space-medium);
}

.modal {
	line-height: 150%;
	background-color: var(--color-title);
	color: var(--color-white);
	padding: var(--space-large);
	width: 600px;
	border-radius: var(--border-radius);

	position: fixed;
	top: 200px;
	left: 200px;
	z-index: 2;

	/* transition-property: top;
	transition-duration: 1s;
	-o-transition-timing-function: ease-out;
	transition-delay: 2s; */
}

body:hover .modal {
	animation-name: fly; 
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.5, 0, 0.76, 0.99);
	animation-delay: 1s;
	/* animation-iteration-count: infinite; */
	animation-direction: alternate;
	animation-play-state: running;
	animation-fill-mode: both;
}

.modal_image {
	float: left;
	height: 60px;
	width: 300px;
	margin-right: var(--space-large);
	object-fit: none;
}

.modal_text {
	clear: right;
}

.input {
	border: 1px solid var(--color-title);
	caret-color: var(--color-primary);
}

/* media query, units */

.form {
	gap: var(--space-large);
}

@media all and (width <= 700px) {
	.form {
		flex-direction: column;
		align-items: center;
		justify-items: flex-start;
	}
	.form_content {
		text-align: center;
		align-items: center;
	}

	.form_info {
		line-height: 150%;
		max-width: 300px;
		width: 100%
	}
}
.hero_container {
	container-type: inline-size;
	container-name: hero;
}

@container hero (width < 960px) {
	.hero {
		flex-direction: column;
	}
}

@layer style {
	.card_button {
		box-shadow: 5px 5px 5px var(--color-text);
		background-color: #212529;
	}
}

.test {
	position: absolute;
	background-color: red;
	height: 10vh;
	width: 100vw;
	top: 0;
	left: 0;
}

.hero_title {
	font-size: 5cqv;
}