
.page {
	background-color: #fff;
	padding: 0 15px;
}

.page_content {
	max-width: 960px;
	margin: 0 auto;
}

.header {
	padding: 24px;
	border-bottom: 1px solid #DEE2E6;
}

.logo {
 font-size: 17px;
}

/* .divider {
	margin: 0;
	height: 1px;
	background: #DEE2E6;
} */

.nav {
	display: block;
}

.nav_link {
	color: #343A40;
	font-size: 16px;
	text-decoration: none;
}

.nav_link:hover {
	color: blue;
	text-decoration: underline;
}



.nav_vertical > .nav_link:not(:last-child) {
 display: block;
 margin-bottom: 12px;
}

.nav_inline > .nav_link:not(:last-child) {
	margin-right: 24px;
}

.header_nav_right {
	margin-left: auto;
	width: fit-content;
}

.page_block:not(:last-of-type) {
	margin: 80px 0;
}

.footer {
	padding: 24px 0;
	border-top: 1px solid #DEE2E6;
}

.header_copyright {
	color: #6C757D;
	font-size: 14px;
	margin-top: 12px;
	display: block;
}

.footer_title {
	font-size: 20px;
	color: #212529;
	display: block;
	margin-bottom: 12px;
}

.hero_title {
	font-size: 56px;
	font-weight: 500;
	color: #212529;
	text-align: center;
	margin-bottom: 12px;
}

.hero_text {
	font-size: 20px;
	color: #212529;
	text-align: center;
	max-width: 585px;
	margin: 0 auto;
	line-height: 150%;
}

.card {
	border: 1px solid blue;
	border-radius: 5%;
}

.plans_card:nth-child(2) {
	border: 10px groove violet;
	visibility: hidden;
}

.card:hover {
	outline: 1px solid blue;
	outline-offset: 5px;
	box-shadow: 5px 5px 10px 0 rgb(129, 129, 230);
	cursor: pointer;


}

.plans_card:not(:last-of-type) {
 margin-right: 24px;
}

.card-header {
	font-size: 20px;
	color: #212529;
	text-align: center;
	padding: 12px;
}

.card-body {
	padding: 24px;
	text-align: center;
}

.card-body:not(last-of-type) {
	margin-bottom: 0;
}

.card_price_amount {
	text-align: center;
	font-size: 40px;
	color: #212529;
	
}

.card_price_duration {
	font-size:  29px;
	color: #6C757D;
	vertical-align: top;

}

.card_description-item {
	font-size: 16px;
	color: #212529;
	
	display: block;
	margin-bottom: 12px;
}

.card_button {
	display: block;
	width: 100%;
	font-size: 19px;
	padding: 9px;
	border-radius: 25px;

}

h1 {
	text-shadow: 10px 5px 5px rgb(0, 102, 255);
}

.btn:hover {
	box-shadow: 5px 5px 10px 0 rgb(129, 129, 230);
}

p {
	background: grey;
	/* width: 200px;
	height: 100px;
	overflow: hidden;
	overflow-y: scroll;
	overflow-y: overlay;
	overflow: hidden;
	text-overflow: ellipsis; */
	text-align: left;
	white-space: normal;
	white-space: nowrap;
	white-space: pre;
	white-space: pre-wrap;
	white-space: break-spaces;
	white-space: pre-line;

	
}

.overflow {
	overflow-wrap: anywhere;
	overflow-wrap: break-word;
}



.hero_title {
	width: 660px;
	margin: 0 auto;
	margin-bottom: 12px;
	height: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hero_text {
	width: 200px;
	/* width: min-content; */
	word-break: break-all;
	word-break: keep-all;
	word-break: break-word;

	hyphens: manual;

	overflow: auto;
	resize: both;
	
}