:root {
	--space-medium: 12px;
	--space-x-medium: 16px;
	--space-large: 24px;

	--color-border: #DEE2E6;
	--color-primary: blue;
	--color-white: #fff;
	--color-title: #212529;
	--color-text: #343A40;


	--font-size-s: 12px;
	--font-size-d: 16px;
	--font-size-l: 20px;

	--font-weight-d: 400;
	--font-weight-title: 500;

	--border-radius: 12px;

	--page_width: 960px;
}