<div class="promo_link_container">
    <a class="promo_link double_line click">Learn more</a>
    <span class="icon icon_arrow promo_link click" style="background-image: url('/svg/arrow-right-blue.svg');"></span>
</div>
 